*{
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.searchbar input{
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;

}
.searchbar button{
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;


}
.VideoList{
  width: 30%;

}
.VideoPlay{
  width:70%;

}
.videos{
  display: flex;

}
